<div class="h-screen">
  <mat-toolbar class="flex justify-between">
    <div class="flex gap-2">
       <button *ngIf="!showSidenav" mat-icon-button class="flex items-center" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Emovies</span>
    </div>
    <button mat-icon-button class="flex items-center" (click)="generateVideo()">
      <mat-icon>upload</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="h-[calc(100%-64px)]">
    <mat-drawer #drawer [mode]="showSidenav ? 'side' : 'push'" [opened]="showSidenav" class="p-[16px] w-[300px]">
      <div class="flex flex-col gap-2 justify-between h-full">
        <div>
          <a *ngFor="let route of routes" [routerLink]="route.link" class="mat-drawer-button"
            routerLinkActive="mat-drawer-button-active" (click)="!showSidenav ? drawer.toggle() : ''">
            <mat-icon>{{ route.icon }}</mat-icon>
            <h1>{{ route.title }}</h1>
          </a>
        </div>
        <div *ngIf="!logs" class="flex w-full justify-evenly rounded-lg bg-slate-50 py-2 px-4">
          <mat-spinner diameter="25" class="text-black"></mat-spinner>
          <p>Server busy, connecting ...</p>
        </div>
        <app-processing-state *ngIf="logs?.id && !logs?.stop" [logs]="logs"></app-processing-state>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>