<div *ngIf="movie" class="flex flex-col md:flex-row h-full">
  <video controls class="max-w-[475px]">
    <source [src]="resultContent" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="p-4">
    <mat-tab-group class="w-full h-full">
      <mat-tab label="Info">
        <div class="h-full flex flex-col p-10 justify-evenly">
          <h1 class="text-7xl">{{ movie.title | uppercase }}</h1>
          <div>
            <span class="text-sm text-slate-500">Overview</span>
            <p class="bg-slate-50 rounded-lg p-4">{{ movie.overview }}</p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Logs">
        <div class="h-full w-full flex justify-center items-center pt-4">
          <div #terminal
            class="max-h-[70vh] overflow-y-scroll p-4 rounded-lg bg-slate-50 font-['Courier_New'] text-sm">
            <p *ngFor="let log of logContent">{{ log }}</p>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>