<div class="max-w-[1200px] grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
  <div *ngFor="let movie of movies" class="hover:cursor-pointer" (click)="openMovieInfo(movie.id)">
    <img [src]="fullPosterPath(movie.posterPath)" [alt]="movie.title" class="bg-cover aspect-[2/3] rounded-xl hover:drop-shadow-md">
    <div class="my-2 flex justify-between items-center">
      <div>
        <p>{{ movie.title }}</p>
        <p class="text-sm text-slate-500">{{ movie.emotion }}</p>
      </div>
      <span *ngIf="!movie.uploaded" class="material-symbols-outlined text-red-500" matTooltip="Error while creating video">error</span>
    </div>
  </div>
</div>